input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

.fittopic {
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  width: 250px;
  height: 280px;
}

.fittopic label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fittopic label input {
  height: 28px;
}

.topic {
  background-color: #413c69;
  color: #ffd700;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 25px;
  margin-top: 20px;
}

.search {
  margin-left: -190px;
  padding-top: 10px;
}
.border {
  border: 0;
}
section.relative {
  position: relative;
  width: 250px;
  height: 280px;
}

select.absolute {
  position: absolute;
  top: auto;
  right: 250px;
  width: 40px;
  height: 34px;
}
select.absolute1 {
  position: absolute;
  top: 50px;
  right: 155px;
  width: 40px;
  height: 24px;
}
#physics {
  margin: auto;
  width: 40px;
  height: 24px;
}

.app {
  width: 360px;
  height: 640px;
}
